/*  =====> offer.css  */

.main-offers-title,
.main-subs-title {
  padding: 1rem 2rem 1rem 1rem;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.main-offers,
.main-subs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 0.75rem;
  background: var(--background-color-opac);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.main-offers p,
.main-subs p {
  margin: 0;
}

.main-offers .item-offer,
.main-subs .item-sub {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-offers .item-offer .offer-layer-head,
.main-subs .item-sub .sub-layer-head {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.main-offers .item-offer .offer-code {
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--primary-color);
  color: white;
}

.main-offers .item-offer,
.main-subs .item-sub {
  display: flex;
  border-radius: var(--border-radius);
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
  max-width: 400px;
  background-color: var(--background-color-opac);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
}

.main-offers .item-offer:hover,
.main-subs .item-sub:hover {
  background: var(--background-color);
}

.main-offers .item-offer .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 1rem;
  background: var(--secondary-color);
}

.main-offers .item-offer .img-container img {
  width: 100%;
  border-radius: var(--border-radius);
}

.main-offers .item-offer .offer-info {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.main-offers .item-offer button {
  align-self: end;
}
